@import url("https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow:wght@400;700&display=swap");
nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  font-family: "PT Sans Narrow", sans-serif;
  justify-content: baseline;
  align-items: baseline;
  position: sticky;
  top: 0;
  box-shadow: var(--border-shadow);
  z-index: 2;
  background-color: var(--backgroundNav);
}
nav #sun1 {
  cursor: pointer;
  position: absolute;
  top: 10rem;
  left: 1rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  list-style: none;
  color: var(--black);
}

.links {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 30vw;
  font-size: 25px;
  gap: 10px;
  padding-left: 2rem;
}
.links li a {
  text-decoration: none;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 30vw;
  justify-content: flex-end;
  font-size: 25px;
  gap: 10px;
  padding-right: 2rem;
}
.logos li a:hover, .logos li a:focus {
  color: var(--hover);
}

.brandName {
  font-size: 30px;
  color: var(--black);
}

.hamburger {
  display: none;
}

.responsive {
  display: none;
}

@media screen and (max-width: 1366px) {
  .links {
    font-size: 18px;
    gap: 10px;
    padding-left: 20px;
  }
  .brandName {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    color: var(--white);
    background-color: var(--backgroundNav);
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(29, 28, 28, 0.671) 0px 2px 5px 0px, rgba(204, 204, 204, 0.945) 0px 1px 1px 0px;
  }
  .logos {
    display: none;
    margin: 0;
    padding: 0;
  }
  .links {
    display: none;
    margin: 0;
    padding: 0;
  }
  .brandName {
    top: 1.5rem;
    left: 1rem;
    font-size: 20px;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 2;
    color: var(--black);
  }
  .hamburger {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    display: block;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--black);
    z-index: 2;
  }
  button:focus, button:hover {
    scale: 1.1;
  }
  button:active {
    scale: 0.9;
  }
  .responsive {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    font-size: 25px;
    font-family: "PT Sans Narrow", sans-serif;
    transition: 0.5s;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 0;
  }
  .responsive .link {
    color: var(--black);
    text-decoration: none;
  }
  .responsive .link:hover, .responsive .link:focus {
    background-color: var(--backgroundNav);
    border-radius: 5%;
    color: var(--textBlack);
  }
  .responsive .icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .responsive .icons li a {
    color: var(--black);
  }
  .responsive .icons li a:hover, .responsive .icons li a:focus {
    color: var(--hover);
    scale: 1.1;
    transition: 0.2s;
  }
  .active {
    padding-top: 50px;
    opacity: 1;
    color: var(--white);
    transition: 0.5s;
    height: 250px;
    background-color: var(--backgroundNav);
    border-radius: 10px;
    box-shadow: rgba(29, 28, 28, 0.671) 0px 2px 5px 0px, rgba(204, 204, 204, 0.945) 0px 1px 1px 0px;
  }
}
header {
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
}

.hero {
  width: 60vw;
  font-size: 45px;
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
  justify-content: space-evenly;
  color: var(--black);
}
.hero div span {
  font-family: "Anton", sans-serif;
  transition: transform 0.2s ease;
}
.hero div span:hover {
  color: var(--hover);
  transform: translateY(-5px);
  scale: 2;
}

p {
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  color: var(--black);
}

.space {
  margin-left: 30px;
}

/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--black);
  font-family: "PT Sans Narrow", sans-serif;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

@media screen and (max-width: 720px) {
  .hero {
    font-size: 35px;
    line-height: 37px;
  }
}
@media screen and (max-width: 587px) {
  .hero {
    font-size: 18px;
    line-height: 20px;
  }
  p {
    font-size: 15px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  .space {
    margin-left: 15px;
  }
}
#projects {
  margin-top: 200px;
}

h2 {
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  padding-left: 5rem;
  font-weight: 700;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--textBlack);
}

.cards {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.card {
  width: 27vw;
  height: 27vw;
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 27vw;
  width: 27vw;
  position: absolute;
  opacity: 1;
}
.card span {
  opacity: 0;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

.card:hover, .card:focus {
  border: none;
}
.card:hover img, .card:focus img {
  opacity: 0;
  transition: 0.3s;
}
.card:hover span, .card:focus span {
  opacity: 1;
  transition: 0.5s;
}

@media (max-width: 1235px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .card {
    width: 40vw;
    height: 40vw;
  }
  .card img {
    width: 40vw;
    height: 40vw;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .card {
    width: 60vw;
    height: 60vw;
  }
  .card img {
    width: 60vw;
    height: 60vw;
  }
  h2 {
    padding-left: 3rem;
  }
}
#about {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
}
#about img {
  height: 600px;
  --s: 10px; /* control the size */
  padding: var(--);
  border: calc(2 * var(--s)) solid rgba(0, 0, 0, 0);
  outline: 1px solid var(--black);
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, var(--black) 0);
}
#about article {
  height: 600px;
  max-width: 1000px;
  min-width: 200px;
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2 * var(--s)) solid rgba(0, 0, 0, 0);
  outline: 1px solid var(--black);
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, var(--black) 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-direction: column;
  color: var(--black);
}
#about article h2 {
  color: var(--black);
}
#about article a {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: start;
  font-size: 30px;
}

@media screen and (min-width: 2000px) {
  #about {
    font-size: 30px;
  }
  #about img {
    height: 500px;
  }
  #about article {
    height: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  #about {
    font-size: 25px;
  }
  #about img {
    height: 500px;
  }
  #about article {
    height: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1372px) {
  #about {
    font-size: 20px;
  }
  #about img {
    height: 500px;
  }
  #about article {
    height: 500px;
  }
}
@media screen and (max-width: 1276px) {
  #about {
    font-size: 17px;
  }
  #about img {
    height: 500px;
  }
  #about article {
    height: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1025px) {
  #about {
    flex-direction: column-reverse;
    font-size: 20px;
  }
  #about img {
    height: 500px;
  }
  #about article {
    height: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1025px) {
  #about {
    flex-direction: column-reverse;
    font-size: 20px;
  }
  #about img {
    height: 400px;
  }
  #about article {
    height: 600px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 690px) {
  #about {
    flex-direction: column-reverse;
    font-size: 15px;
  }
  #about img {
    height: 400px;
  }
  #about article {
    height: 600px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
#skills h2 {
  color: var(--black);
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

#experience {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin: 5rem;
  background-color: var(--backgroundCode);
  border-radius: 20px;
}
#experience .container {
  margin: 50px;
}
#experience h5 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin-left: 2rem;
  color: var(--white);
}
#experience p {
  font-family: "PT Sans Narrow", sans-serif;
  color: var(--blue);
  margin-left: 2rem;
  font-size: 25px;
}

@media screen and (max-width: 1200px) {
  #experience {
    margin: 5rem;
  }
  #experience .container {
    margin: 40px;
  }
  #experience h5 {
    margin-left: 0.5rem;
    font-size: 25px;
  }
  #experience p {
    margin-left: 0.5rem;
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  #experience {
    margin: 3rem;
  }
  #experience .container {
    margin: 30px;
  }
  #experience h5 {
    font-size: 20px;
    margin-left: 0;
  }
  #experience p {
    font-size: 15px;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  #experience {
    margin: 2rem;
  }
  #experience .container {
    margin: 20px;
  }
  #experience h5 {
    font-size: 15px;
  }
  #experience p {
    font-size: 12px;
  }
}
.container {
  margin: 5rem;
}

.blue {
  color: var(--blue);
}

.waterblue {
  color: var(--waterblue);
}

.pink {
  color: var(--pink);
}

.green {
  color: var(--green);
}

.brown {
  color: var(--brown);
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white2);
}

:root {
  --blue: #378dd6;
  --darkblue: ;
  --waterblue: #9cdcf1d7;
  --pink: #d65dccb8;
  --green: #4ebc84;
  --brown: #ce834a;
  --yellow: #f1f16d;
  --white2: #d4d4d4;
  --background: #DDDDDD;
  --backgroundNav: #DDDDDD;
  --backgroundCode: #1e1e1e;
  --hover: #DA0037;
  --black: black;
  --white: #FFFFFF;
  --border-shadow:rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 1px 2px 2px 1px;
}

.darkmode {
  --background: #424242;
  --backgroundNav:#252525;
  --hover: #DA0037;
  --black: #FFFFFF;
  --white: black;
  --border-shadow: rgba(29, 28, 28, 0.671) 0px 2px 5px 0px, rgba(204, 204, 204, 0.945) 1px 2px 2px 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */