@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
.nav {
  width: 100vw;
  height: 80px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: var(--navShadow);
}

.icons {
  display: none;
}

.logo {
  display: grid;
  place-items: center;
  height: 100%;
  font-weight: bold;
  z-index: 2;
}
.logo a p {
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 2px;
  color: var(--text);
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: var(--text);
  font-size: 25px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: var(--text);
  background: var(--bg);
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: var(--bg);
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
.btn:after, .btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 0.4s;
}
.btn:after {
  top: -1px;
  left: -1px;
  border-top: 2px solid var(--text);
  border-left: 2px solid var(--text);
}
.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 2px solid var(--text);
  border-right: 2px solid var(--text);
}
.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn:hover:before, .btn:hover:after {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1320px) {
  .nav {
    padding: 0 45px;
  }
}
@media only screen and (max-width: 1100px) {
  .nav {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .nav {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .icons {
    display: flex;
    justify-content: center;
    height: 2.5rem;
  }
  .icons .icon {
    font-size: 2rem;
  }
  .icons .icon:hover {
    transition: 0.2s;
    color: var(--hover);
    scale: 1.1;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--text);
    margin: 6px 0;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--bg);
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-bar ul {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 30px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar ul li {
    margin-top: 5px;
  }
  .logo {
    font-size: 25px;
  }
  .nav-bar.active {
    height: 320px;
    border-radius: 10px;
    box-shadow: var(--navShadow);
  }
  .nav-bar.active ul {
    opacity: 1;
  }
}
/* The switch - the box around the slider */
.switch {
  /* Variables */
  --switch_width: 4em;
  --switch_height: 2em;
  --thumb_color: var(--white);
  --track_color: var(--white);
  --track_active_color: var(--bg);
  --outline_color: var(--text);
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: var(--switch_width);
  height: var(--switch_height);
}

.switchBox {
  display: flex;
  align-items: center;
  min-width: 7rem;
  justify-content: center;
}
@media (min-width: 900px) {
  .switchBox {
    justify-content: flex-end;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.15s;
  border-radius: var(--switch_height);
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}

input:checked + .slider {
  background-color: var(--track_active_color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

header {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}
header .svgPortrait {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 2rem;
}
header .svgPortrait .svg {
  height: 30vh;
}
header .svgPortrait .color {
  fill: var(--text);
}
header .headerText {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  gap: 1rem;
}
header .headerText h1 {
  font-size: 2rem;
}
header .headerText p {
  font-size: 1.3rem;
}
header .headerText a {
  width: 170px;
  text-align: center;
}

@media (min-width: 1024px) {
  header {
    max-width: 2000px;
    height: 100vh;
    max-height: 1200px;
    margin-top: 150px;
  }
  header .headerText h1 {
    font-size: 2.5rem;
  }
  header .headerText p {
    font-size: 1.7rem;
    max-width: 982px;
  }
}
.contactBtn {
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--black);
  font-family: "Josefin Sans", sans-serif;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contactBtn:hover,
.contactBtn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.contactBtn:active {
  background: var(--color);
  color: #fff;
}

#projects {
  width: 100vw;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects .titleProjects {
  margin-top: 7rem;
}
#projects h1 {
  text-align: center;
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects h2 {
  text-align: center;
  font-size: 1.3rem;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects a {
  font-size: 1.3rem;
  text-align: center;
  text-decoration: underline;
}
#projects a:hover, #projects a:focus {
  color: var(--hover);
  transition: 0.3s;
}

.projectsGrid {
  max-width: 2000px;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
  place-items: center;
  width: 100vw;
}

.card {
  border-radius: 5px;
  width: 90vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 90vw;
  height: 50vw;
}

.descBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 50%;
}
.descBox h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--white);
  font-size: 3rem;
}
.descBox p {
  text-align: center;
  color: var(--white);
  font-size: 1rem;
}

.card figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0;
  background-color: var(--bgDark);
  transition: opacity 0.3s ease;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}

.card:hover figcaption {
  opacity: 1;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: var(--white);
  --button_outline_color: var(--black);
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.visitBtn {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .visitBtn {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .visitBtn {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media (min-width: 768px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
    width: 95vw;
  }
  .card {
    width: 46vw;
    height: 30vw;
  }
  img {
    width: 46vw;
    height: 30vw;
  }
}
@media (min-width: 1024px) {
  #projects {
    margin: 0;
    padding: 0;
    max-width: 1500px;
    width: 80vw;
  }
  .projectsGrid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 2rem;
    gap: 1rem;
  }
  .card, img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
.submit {
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--black);
  font-family: "Josefin Sans", sans-serif;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover, .submit:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.submit:active {
  background: var(--color);
  color: #fff;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
}

#info {
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
  margin-top: 2rem;
}
#info .title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 691.2px;
  height: 30%;
}
#info .subinfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 691.2px;
  height: 30%;
}

form {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  justify-content: space-evenly;
  box-shadow: var(--contactShadow);
  border-radius: 3%;
}
form label {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.3rem;
}
form input {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--black);
}
form textarea {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--black);
  font-size: 1.3rem;
  box-shadow: 1px 1px 1px 1px var(--black);
  border-radius: 2px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-evenly;
}
footer .footerLinks {
  width: 320px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
footer .footerLinks a {
  font-size: 2.5rem;
}
footer .footerLinks a:hover, footer .footerLinks a:focus {
  scale: 1.1;
  color: var(--hover);
}
footer .footerLinks h4 {
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  #contact {
    max-width: 1500px;
    flex-direction: row;
    justify-content: space-around;
    max-height: 800px;
  }
  #contact #info {
    width: 30%;
    max-height: 800px;
  }
  #contact form {
    width: 30%;
  }
}
#about {
  margin: 1rem;
  padding-top: 8rem;
  min-height: 1000px;
}
#about h2 {
  padding-bottom: 2rem;
  text-align: center;
}

.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 1rem;
}

.list2 {
  padding-top: 2rem;
}
.list2 h3 {
  font-size: 1.4rem;
}
.list2 ul {
  padding-top: 1rem;
}
.list2 ul li {
  text-align: center;
  color: var(--text);
  font-size: 1.3rem;
}

.aboutText {
  margin-top: 3rem;
  text-align: center;
}

.vl {
  border: 2px solid var(--text);
  height: 2px;
  width: 80vw;
}

@media (min-width: 1112px) {
  #about {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-height: 1000px;
    padding-top: 4rem;
    max-width: 1500px;
  }
  #about .aboutContent {
    flex-direction: row;
    padding-top: 0;
    margin: 0;
    padding: 2rem;
  }
  #about .aboutContent .box {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .list2 {
    height: 200px;
  }
  .vl {
    border: 1px solid var(--text);
    width: 1px;
    height: 500px;
  }
  .aboutText {
    padding-top: 4rem;
    text-align: center;
    max-width: 1000px;
  }
}
:root {
  --bgDark: #2b2b2b;
  --bg: #dfe0e1;
  --black: black;
  --white: #FFFFFF;
  --text: black;
  --navShadow:rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --contactShadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --hover: rgb(250, 62, 62);
}

.darkmode {
  --bg: #2b2b2b;
  --text: #FFFFFF;
  --black: #FFFFFF;
  --white: #2b2b2b;
  --navShadow: rgba(255, 255, 255, 0.09) 0px 1px .5px, rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 8px 4px;
  --hover: rgb(250, 62, 62);
  --contactShadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover {
  color: var(--hover);
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
  font-size: clamp(1.5rem, 0.2rem + 10vw, 2rem);
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
}

h5 {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
}

p {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
  font-size: 1.3rem;
}

a {
  color: var(--text);
  font-size: 2rem;
  color: var(--text);
}

button {
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
}

input, label, textarea {
  font-family: "Josefin Sans", sans-serif;
  color: var(--text);
  font-size: 1.3rem;
}/*# sourceMappingURL=style.css.map */