// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'PT Sans Narrow', sans-serif;
$mainFont :'Josefin Sans', sans-serif;
$titleFont: 'Josefin Sans', sans-serif;



// partials are imported here
@import "partials/navbar";
@import "partials/header";
@import "partials/projects";
@import "partials/contact";
@import "partials/about";
@import "partials/toastify";
@import "partials/svg";
@import '/node_modules/toastify-js/src/toastify.css';




:root {

    --bgDark :          #0e100a;
    --bg:               #f7f8f1;
    --bg2:              #b7b2ad;
    --black :           black;
    --white :           #FFFFFF;
    --text:             #1b1d1d;
    --hover :    #eebc69;
    --navShadow: rgba(27, 29, 29, 0.4) 0px 0px 4px, rgba(27, 29, 29, 0.3) 0px 7px 13px -3px, rgba(27, 29, 29, 0.2) 0px -3px 0px inset;
    --navActive: rgba(27, 29, 29, 0.4) 0px 4px 4px 0px;
    --boxShadow: rgba(27, 29, 29, 0.4) 0px 2px 4px, rgba(27, 29, 29, 0.3) 0px 7px 13px -3px, rgba(27, 29, 29, 0.2) 0px -3px 0px inset;
    --contactShadow: rgba(27, 29, 29, 0.4) 0px 2px 4px, rgba(27, 29, 29, 0.3) 0px 7px 13px -3px, rgba(27, 29, 29, 0.2) 0px -3px 0px inset;

}
.darkmode{

    --bgDark :          #0e100a;
    --bg:               #0e100a;
    --bg2:              #2c2c2e;
    --black :           #FFFFFF;
    --white :           black;
    --text:             #0edfbd;
    --navShadow: rgba(14, 223, 189, 0.4) 0px 2px 4px, rgba(14, 223, 189, 0.3) 0px 7px 13px -3px, rgba(14, 223, 189, 0.2) 0px -3px 0px inset;
    --navActive: rgba(14, 223, 189, 0.4) 0px 4px 4px 0px;
    --hover :    rgb(250, 62, 62);
    --boxShadow: rgba(14, 223, 189, 0.4) 0px 2px 4px, rgba(14, 223, 189, 0.3) 0px 7px 13px -3px, rgba(14, 223, 189, 0.2) 0px -3px 0px inset;
    --contactShadow:rgba(14, 223, 189, 0.4) 0px 2px 4px, rgba(14, 223, 189, 0.3) 0px 7px 13px -3px, rgba(14, 223, 189, 0.2) 0px -3px 0px inset;

}
*{
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100vw;
    scroll-behavior: smooth;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 


}
.hover {
    color: var(--hover);
}
h1 {
 margin: 0;
 padding:0;
 font-family:$titleFont;
 color:var(--text);  
}
h2 {
 margin: 0;
 padding:0;
 font-family:$titleFont;
 color:var(--text);
 font-size: clamp(1.5rem ,.2rem + 10vw , 2rem );

}
h3 {
 margin: 0;
 padding:0;
 font-family:$titleFont;
 color:var(--text);
}
h4 {
 margin: 0;
 padding:0;
 font-family:$titleFont;
 color:var(--text);
}
h5 {
 margin: 0;
 padding:0;
 font-family:$titleFont;
 color:var(--text);
}
p {
 margin: 0;
 padding:0;
 font-family:$mainFont;
 color:var(--text);
 font-size: 1.3rem;
}
a {
    color: var(--text);
    font-size: 2rem;
    color:var(--text);
    text-decoration: none;
}
button {
    font-family: $titleFont;
     color:var(--text);
}
input , label ,textarea {
    font-family: $mainFont;
     color:var(--text);
    font-size: 1.3rem;
}
hr {
    color: var(--text);
    background-color: var(--text);
    border: none;
    height: 1px;
    margin: 5px 0;
  
    // For Internet Explorer 10+
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      border: 1px solid var(--text);
    }
  }
  
#successMessage{

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        background-color: var(--bg);
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px gray;
        color: var(--text);
    }
}
.hrLine {
    color: var(--text);
    height: 2px;
    opacity: 100%;
}
