.Aboutpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .box {
        height: 700px;
    }
    .box2{
        background-color: gray;
    }
}