nav{ 
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: space-between;
    height: 3rem;
    .navlogo {
        padding-left: 15px;
    }
    .navlogo:hover{
        color: gray;
        scale: 1.1;
    }
    .navlinks {
        width: 30%;
        display: flex;
        justify-content:space-evenly;
        a{
            color: white;
            text-decoration-line: none;
            font-family: 'Anton', sans-serif;
        }
        a:hover{
            color: gray;
            transition: 0.2s;
        }
    }
}


