<!-- Contact Page starts here-->
<div    class="contain">
    <div class="contacts">
            <div>
                <i class=" btn icons bi bi-geo-alt-fill"></i>
                <br>
                <p>Located in Wien</p>
            </div>
            <div>
                <i class="btn icons bi bi-telephone-fill"></i>
                <p>Quick call : +436603911915</p>
            </div>
            <div>
                <i class="btn icons bi bi-envelope-fill"></i>
                <p>Drop an E-mail</p>
            </div>
            <div>
                <i class="btn icons bi bi-download"></i>
                <p>Download Cw </p>
            </div>
    </div>
    <div    class="contactform">
        <div class="formbox">
            <h3>Contact</h3>            
            <input placeholder="Name" type="text" id="name">
            <br>
            <input placeholder="Email or Phone number" type="text" id="email">
            <br>
            <textarea name="sms" placeholder="Drop a quick message here" id="sms" cols="49" rows="5"></textarea>
            <br>
            <button class="btn btn-light" id="submit">Submit</button>
        </div>
    </div>

</div>