    // button animation
    .submit {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: var(--black);
    font-family: $mainFont;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
   touch-action: manipulation;}.submit:hover,.submit:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;}.submit:active {
    background: var(--color);
    color: #fff;}

        // contact style
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; 
    width: 100vw;
    min-height: 100vh;
}
#info {
    max-width: 90%;
    text-align: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        min-height: 13rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        max-width: 691.2px;
    }
    .subinfo {
        min-height: 13rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        max-width: 691.2px;
    }
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 500px;
    justify-content: space-evenly;
    box-shadow: var(--contactShadow);
    border-radius: 5px;
    label {
        width: 80%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.3rem;

    }
    input {
        width: 80%;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid var(--black);
    }
    textarea{
        width: 80%;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid var(--black);
        font-size: 1.3rem;
        box-shadow: 1px 1px 1px 1px var(--black);
        border-radius: 2px;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-evenly;
    .footerLinks{
        a{
            font-size: 2.5rem;
        }
        width: 320px;
        align-items: center;
        display: flex;
        justify-content: space-evenly; 
        h4 {
            margin-bottom: 1rem;
        }
    }   
}
@media (min-width:1024px) {
    #contact {
        flex-direction: row;
        min-height: 700px;
        justify-content: space-evenly;
        max-width: 1500px;
    }

    #info {      
        justify-content: space-between;
        max-width: 500px;
    }
    form{
        max-width: 500px;
    }
    footer {
        h4 {
            height: 2rem;
            text-align: center;
        }
    }
}
@media (min-width:1500px) {
    #contact {
        flex-direction: row;
        min-height: 800px;
        justify-content: space-evenly;
        max-width: 2000px;
    }

    #info {      
        justify-content: space-between;
        max-width: 750px;
    }
    form{
        max-width: 750px;
    }
    footer {
        h4 {
            height: 2rem;
            text-align: center;
        }
    }
}







































