#experience {
    display: flex;
    flex-direction: column;
    color: var(--black);
    margin: 5rem;
    background-color: var(--backgroundCode);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    .container{
        margin: 50px;
    }
    h5 {
        font-family: $mainFont;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
        margin-left: 2rem;
        color: var(--white);
    }
    p {
        font-family: $mainFont;
        color: var(--blue);
        margin-left: 2rem;
        font-size: 25px;
    }
    
}

@media screen and (max-width:1200px) {
        #experience{
            margin: 5rem;
            .container{
                margin: 40px;
            }
        h5{
            margin-left: .5rem;
            font-size: 25px;
        }
        p{

            margin-left: .5rem;
            font-size: 20px;
        }
    }
}
@media screen and (max-width:1000px) {
    #experience{
        margin: 3rem;
        .container{
            margin: 30px;
        }
        h5{
            font-size: 20px;
            margin-left: 0;
        }
        p{
            font-size: 15px;
            margin-left: 0;
        }
    }
}
@media screen and (max-width:600px) {
    
    #experience{
        .container{
            margin: 20px;
        }
        margin: 2rem;
        h5{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
    }
}
.container {
    margin: 5rem;
}

.blue{
    color: var(--blue);
}
.waterblue {
    color:var(--waterblue);
}
.pink {
    color: var(--pink);
}
.green {
    color: var(--green);
}
.brown{
    color: var(--brown);
}
.yellow {
    color: var(--yellow);
}
.white {
    color: var(--white2);
}