#experience {
    display: flex;
    flex-direction: column;
    color: var(--black);
    margin: 10rem;
    background-color: #303030;
 
    border-radius: 20px;

    h5 {
        font-family: $mainFont;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
        margin-left: 5rem;
    }
    p {
        font-family: $mainFont;
        color: var(--blue);
        margin-left: 5rem;
    }
}
.container {
    margin: 5rem;
}

.blue{
    color: var(--blue);
}
.waterblue {
    color:var(--waterblue);
}
.pink {
    color: var(--pink);
}
.green {
    color: var(--green);
}
.brown{
    color: var(--brown);
}
.yellow {
    color: var(--yellow);
}