#experience {
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin: 10rem;
    color: var(--black);
    h5 {
        font-family: $mainFont;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }
    p {
        font-family: $mainFont;
        color: var(--blue);
    }
}

.blue{
    color: var(--blue);
}
.waterblue {
    color:var(--waterblue);
}
.pink {
    color: var(--pink);
}
.green {
    color: var(--green);
}
.brown{
    color: var(--brown);
}
.yellow {
    color: var(--yellow);
}