header{
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-height: 600px;
    overflow-x: hidden;
    .svgPortrait {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        padding-bottom: 2rem;
        .svg {
            height: 30vh;
        }
        .color {
            fill: var(--text);
        }
    }
    .headerText {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding-bottom: 2rem;
        gap: 1rem;
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.3rem;
        }
        a {
            width: 170px;
            text-align: center;
        }
    }
}
 

@media (min-width:1024px) {
    header {
        max-width: 2000px;
        height: 100vh;
        max-height: 1200px;
        margin-top: 150px;
        .headerText {
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.7rem;
                max-width: 982px;
            }
        }
    }
}

// button animation
.contactBtn {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: var(--black);
    font-family: $mainFont;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.contactBtn:hover,
.contactBtn:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.contactBtn:active {
    background: var(--color);
    color: #fff;
}
