.nav{
    width: 100vw;
    height: 80px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: var(--navShadow);
}
.icons{
    display: none;
}


.logo {
    font-weight: bold;
    
    z-index: 2;
    a{
        p{
            font-size: 30px;
            line-height: 25px;
            letter-spacing: 2px;
            color: var(--text);
        }
    }
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: var(--text);
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: var(--text);
    background: var(--bg);
}
// .nav-bar ul li a.active {
//     color: var(--black);
//     background: var(--background);
// }
 

// button animation
.btn{
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      background: var(--bg);
      font-size:28px;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all .4s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:2px solid var(--text);
        border-left:2px solid var(--text);
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:2px solid var(--text);
        border-right:2px solid var(--text);
      }
      &:hover{
        border-top-right-radius:0px;
      border-bottom-left-radius:0px;
        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,&:after{
          
          width:100%;
          height:100%;
          // border-color:white;
        }
      }
    }




@media only screen and (max-width: 1320px){
    .nav {
        padding: 0 45px;
    }
}
@media only screen and (max-width: 1100px){
    .nav {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .nav {
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .icons {
        display: flex;
        justify-content: center;
        height: 2.5rem;
        .icon{
            font-size: 2rem;
        }
        .icon:hover {
            transition: 0.2s;
            color:var(--hover);
            scale: 1.1;
        }
    }
    .hamburger{
        display: block;
        cursor: pointer;
        z-index: 2;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--text);
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--bg) ;
        transition: 0.5s;
        overflow: hidden;

    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar ul li{
        margin-top: 5px;
    }
    .logo {
        font-size: 25px;
    }
    .nav-bar.active{
        height: 270px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .nav-bar.active ul {
        opacity: 1;
    }

}


// Toggle switch dark mode button animation
/* The switch - the box around the slider */
.switch {
    /* Variables */
   --switch_width: 4em;
   --switch_height: 2em;
   --thumb_color: var(--white);
   --track_color: var(--white);
   --track_active_color: var(--bg);
   --outline_color: var(--text);
   font-size: 20px;
   position: relative;
   display: inline-block;
   width: var(--switch_width);
   height: var(--switch_height);
  }
  .switchBox {
    display: flex;
    align-items: center;
    min-width: 7rem;
    justify-content: center;
    @media (min-width:900px) {
        justify-content: flex-end;
    }
  }

  
  /* Hide default HTML checkbox */
  .switch input {
   opacity: 0;
   width: 0;
   height: 0;
  }
  
  /* The slider */
  .slider {
   box-sizing: border-box;
   border: 2px solid var(--outline_color);
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--track_color);
   transition: .15s;
   border-radius: var(--switch_height);
  }
  
  .slider:before {
   box-sizing: border-box;
   position: absolute;
   content: "";
   height: var(--switch_height);
   width: var(--switch_height);
   border: 2px solid var(--outline_color);
   border-radius: 100%;
   left: -2px;
   bottom: -2px;
   background-color: var(--thumb_color);
   transform: translateY(-0.2em);
   box-shadow: 0 0.2em 0 var(--outline_color);
   transition: .15s;
  }
  
  input:checked + .slider {
   background-color: var(--track_active_color);
  }
  
  input:focus-visible + .slider {
   box-shadow: 0 0 0 2px var(--track_active_color);
  }
  
  /* Raise thumb when hovered */
  input:hover + .slider:before {
   transform: translateY(-0.3em);
   box-shadow: 0 0.3em 0 var(--outline_color);
  }
  
  input:checked + .slider:before {
   transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
  }
  
  /* Raise thumb when hovered & checked */
  input:hover:checked + .slider:before {
   transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
   box-shadow: 0 0.3em 0 var(--outline_color);
  }