
nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    font-family: $mainFont;
    justify-content: baseline;
    align-items: baseline;
    position: sticky;
    top: 0;
    box-shadow: var(--border-shadow);
    z-index: 2;
    background-color: var(--backgroundNav);
    #sun{
        cursor: pointer;
    }
    
}
nav ul li {
    list-style: none;

}
nav ul li a {
    list-style: none;
    color: var(--black);

}

.links{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 30vw;
    font-size: 25px;   
    gap: 10px;
    padding-left: 2rem;
    li a {
        text-decoration: none;
    }
}
.logos{
    display: flex;
    justify-content: space-around;
    margin: 0; 
    padding: 0;
    width: 30vw;
    justify-content: flex-end;
    font-size: 25px;
    gap: 10px;
    padding-right: 2rem;
    li a:hover, li a:focus {
        color: var(--hover);
    }
}   
.brandName {
    font-size: 30px;
    color: var(--black);
}
.hamburger {
    display: none;
}
.responsive{
    display: none;
}


@media screen and (max-width:1366px) {
    .links{
        font-size: 18px;   
        gap: 10px;
        padding-left: 20px;
    }
    .brandName {
        font-size: 15px;
    }
}
@media screen and (max-width:1024px) {
    nav{
        color: var(--white);
        background-color: var(--backgroundNav);
        height: 70px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: rgba(29, 28, 28, 0.671) 0px 2px 5px 0px, rgba(204, 204, 204, 0.945) 0px 1px 1px 0px;
    }
    .logos{
        display: none;
        margin: 0;
        padding: 0;
    }
    .links{
        display: none;
        margin: 0;
        padding: 0;
    }
    .brandName {
        top: 1.5rem;
        left: 1rem;
        font-size: 20px;
        position: absolute;
        padding: 0;
        margin: 0; 
        z-index: 2;
        color: var(--black);
    }
    .hamburger {
        position: absolute;
        top: 1.3rem;
        right: 1rem;
        display: block;
        font-size: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: var(--black);
        z-index: 2;
    }
    button:focus, button:hover {
        scale: 1.1;
    }
    button:active {
        scale: 0.9;
    }
    .responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        font-size: 25px;
        font-family: $mainFont;
        transition: .5s;
        opacity: 0;
        margin: 0;
        padding: 0;
        height: 0;

        .link{
            color: var(--black);
            text-decoration: none;
        }
        .link:hover , .link:focus {
            background-color: var(--backgroundNav) ;
            border-radius: 5%;
            color: var(--textBlack);
        }
        .icons {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            li a {
                color: var(--black);
            }
            cursor: pointer;
            li a:hover , li a:focus {
                color: var(--hover);
                scale: 1.1;
                transition: .2s;
            }
        }

    }   

    .active{
        padding-top: 50px;
        opacity: 1;
        color: var(--white);
        transition: .5s;
        height: 250px;
        background-color: var(--backgroundNav);
        border-radius: 10px;
        box-shadow: rgba(29, 28, 28, 0.671) 0px 2px 5px 0px, rgba(204, 204, 204, 0.945) 0px 1px 1px 0px;
        
    }



}

