#projects {
    width: 100vw;
    margin: 1rem auto;
    h1 {
        text-align: center;
        margin-top: 5rem;
    }
    h2{
        margin-bottom: 2rem ;
        margin-top: 2rem;
        text-align: center;
    }
}

.projectsGrid {
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    place-items: center;
  }
.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    width: 90%;
}
figure {
    img {
        width: 100%;
    }
}
  @media (min-width:1024px) {
        .projectsGrid {
            grid-template-columns: repeat(2, 1fr);
        }
  }
  @media (min-width:1500px) {
    .projectsGrid {
        grid-template-columns: repeat(3, 1fr);
    } 
  }