
#projects {
    margin-top: 200px;

}
h2 {
    font-size: 30px;
    font-family: $mainFont;
    padding-left: 5rem;
    font-weight: 700;
    color: var(--black);
}
a{
    text-decoration: none;
    color: var(--white);
}
.cards{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

}
.card {

    width: 40vw;
    height: 40vw;
    font-size: 20px;
    font-weight: bold;
    font-family: $mainFont;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--black);
    img {
        object-fit: cover;
        height: 40vw;
        width: 40vw;
        position: absolute;
        opacity: 1;
    }
    span {
        opacity: 0;
        font-size: 30px;
        font-family: $mainFont;
        font-weight: 700;
    }
}

  
.card:hover, .card:focus  {
    border: none;
    img {
        opacity: 0;
        transition: 0.2s;
    }
    span{
        opacity: 1;
        transition: 0.2s;
    }
}



@media (max-width: 1235px) {
    .cards { 
        grid-template-columns: 1fr 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card {
        width: 40vw;
        height: 40vw;    
        img{
        width: 40vw;
        height: 40vw;
    }
    }

  }
  @media (max-width: 768px) {
    .cards { 
        grid-template-columns: 1fr ;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card {
        width: 60vw;
        height: 60vw;    
        img{
        width: 60vw;
        height: 60vw;
    }
    }

    h2 {
        padding-left: 3rem;
    }
  }
  