.toastify.success {
    background-color: var(--bg);
    font-family: $mainFont;
    color: var(--text);
}
.toastify.danger {
    background-color: var(--bg);
    font-family: $mainFont;
    color: var(--text);
}