.toastify.success {
    background-color: var(--bg);
    font-family: $mainFont;
    color: var(--text);
}
.toastify.danger {
    background-color: var(--bg);
    font-family: $mainFont;
    color: var(--text);
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: var(--text);
  background-color: var(--bg2);
  cursor: pointer;
  transition: 0.2s;
  height: 30px;
  opacity: 1;
  z-index: 99999;
}

#scrollToTopBtn i {
  display: block;
}

#scrollToTopBtn:focus,
#scrollToTopBtn:hover {
  font-size: 32px;
  line-height: 32px;
  height: 32px;
}

#scrollToTopBtn:active {
  font-size: 28px;
  line-height: 28px;
  height: 28px;
}

.show {
  display: block !important;
}

/* Vendor prefixes for older browser support */
#scrollToTopBtn {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
