@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Major+Mono+Display&family=Press+Start+2P&display=swap');
/*
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Press Start 2P', cursive;
*/