
<div class="contain">
    <div class="header">
        <!-- Header starts here -->
        <header>
            <h1 class="headertext">
                <span>H</span>
                <span>i</span>
                <span>,</span>
                <span>I</span>
                <span>'</span>
                <span>m</span>
                <span class="space">G</span>
                <span>a</span>
                <span>n</span>
                <span>a</span>
                <span>a</span>
                <span>,</span>
                <br>
                <span>W</span>
                <span>e</span>
                <span>l</span>
                <span>c</span>
                <span>o</span>
                <span>m</span>
                <span>e</span>
                <span class="space">t</span>
                <span>o</span>
                <span class="space">m</span>
                <span>y</span>
                <br>
                <span class="space">P</span>
                <span>o</span>
                <span>r</span>
                <span>t</span>
                <span>f</span>
                <span>o</span>
                <span>l</span>
                <span>i</span>
                <span>o</span>    
            </h1>
            <img class="img1" src="assets/Images/IMG-8419.jpg" alt="">
        </header>
        <!-- header ends here -->
    </div>
    <hr>
    <!--About-->
    <div class="top">
        <div class="topcontent">
            <div class="aboutimg">
                <img class="img2" src="assets/Images/IMG-2096.jpg" alt="">
            </div>
            <h2>About</h2>
            <div class="aboutmetext">
                <p>I am 26 years old future <b>outstanding developer</b> that currently gathers experience, especially in the field of web development/ Front and Back/. As an individual, I have become familiar with customer service, team-oriented communication, and self-learning advancements.
                Right now, I'm gearing up for Tech Forest.
                </p>
            </div>
        </div>
        
        
    </div>


 


     <!--Skills-->
    <div class="middle">
        <div class="middlecontent">
            <h2>Skills</h2>
        </div>
    </div>
    <!---->
    <div class="bottom">
        <div class="bottomcontent"> 
            <h2>Projects</h2>
          
        </div>
    </div>
    <!--Random Facts-->
    <div class="randomfacts">
        <div    class="randomcontent">   
            <h2>Random Facts</h2>
        </div>  
    </div>
    <!--contact-->
    <div class="contact">
        <div class="contactpos">
            <h2>Contact</h2>
            <div class="contactcontent"> 
                <div class="info">
                    <div>
                    <i class=" btn icons bi bi-geo-alt-fill"></i>
                    <p>Located in Wien</p>
                    <i class="btn icons bi bi-telephone-fill"></i>
                    <p>Quick call : +436603911915</p>
                    </div>
                    <div>
                    <i class="btn icons bi bi-envelope-fill"></i>
                    <p>Drop an E-mail</p>
                    <i class="btn icons bi bi-download"></i>
                    <p>Download Cw </p>
                    </div>
                </div>
                <div class="socialicons">
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-linkedin"></i>
                </div>
                <div class="contactform">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <textarea name="" placeholder="Drop a quick message here" cols="30" rows="10">
                    </textarea>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            
        </div>
    </div>



</div>